# Ignore backend/API directory completely to prevent EAS from trying to resolve
# its dependencies and running its postinstall scripts (like prisma generate)
../api/

# Standard Expo ignores
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.pem
*.mobileprovision
*.orig.*
eas-build-pre-install.sh
eas-build-post-install.sh
